<h3>Hi, {{tm.user.firstName}}!</h3>
<h4>Your tasks:</h4>

<table class="table table-sorted">
<tr>
    <th>Title</th>
    <th>Date</th>
    <th>Priority</th>
    <th>Status</th>
    <th>Action</th>
</tr>
<tr ng-repeat="task in tm.allTasks">
        
    <td><a href="#/task">{{task.title}}</a></td>
    <td>{{task.date}}</td>
    <td>{{task.priority}}</td>
    <td>{{task.status}}</td>
    <td><a href="#/" ng-click="tm.deleteTask(task.id)">delete</a></td>
</tr>
</table>

<p>&nbsp;</p>
<p>
	<a href="#/add-task" class="btn btn-primary">Add task</a>
	<a href="#/login" class="btn btn-primary">Logout</a>
</p>
