<h3>Hi, {{tm.user.firstName}}!</h3>
<h4>Your tasks:</h4>

<table class="table table-sorted">
<tr>
    <th><a href="#/order/title">Title</a></th>
    <th><a href="#/order/date">Date</a></th>
    <th><a href="#/order/priority">Priority</a></th>
    <th><a href="#/order/status">Status</a></th>
    <th>Action</th>
</tr>
<tr ng-repeat="task in tm.allTasks">
        
    <td><a href="#/task/{{task.id}}">{{task.title}}</a></td>
    <td>{{task.date | date:'dd.MM.yyyy'}}</td>
    <td>{{task.priority}}</td>
    <td>{{task.status}}</td>
    <td><a href="#/" ng-click="tm.deleteTask(task.id)">delete</a></td>
</tr>
</table>

<p>Filter by status: 
	<a class="btn btn-warning" href="#/filter/open">open</a> 
	<a class="btn btn-warning" href="#/filter/in%20progress">in progress</a>
	<a class="btn btn-warning" href="#/filter/closed">closed</a>
	<a class="btn btn-warning" href="#/">none</a>
</p>

<p>&nbsp;</p>
<p>
	<a href="#/add-task" class="btn btn-primary">Add task</a>
	<a href="#/login" class="btn btn-primary">Logout</a>
</p>
